html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  height: 100vh;
  position: relative;
  background-image: url(../images/evening.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.input {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid greenyellow;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.input::-webkit-input-placeholder {
  color: #000;
}
.input::-moz-placeholder {
  color: #000;
}
.input:-ms-input-placeholder {
  color: #000;
}
.input::-ms-input-placeholder {
  color: #000;
}
.input::placeholder {
  color: #000;
}

.input-wrapper {
  position: absolute;
  top: 50px;
  right: 75px;
  padding: 20px 20px 20px 20px;
  background-color: #ccc;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2666666667);
}

.weather-card {
  position: absolute;
  top: 80px;
  left: 75px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  border: 2px solid rgba(172, 255, 47, 0.419);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 50px;
  border-radius: 10px;
}

.clock {
  background-color: rgba(15, 179, 233, 0.1960784314);
  color: antiquewhite;
  font-size: 42px;
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  bottom: 30px;
  border-radius: 20px;
  right: 75px;
  font-family: "Tilt Prism", cursive;
}

.date-block {
  background-color: rgba(15, 179, 233, 0.1960784314);
  color: antiquewhite;
  font-size: 42px;
  width: 250px;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  bottom: 30px;
  border-radius: 20px;
  left: 75px;
  font-family: "Tilt Prism", cursive;
}

.city {
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.temperature {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.rain {
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
}

@media (max-width: 500px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100svh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 80px;
    background-position: -870px;
    background-size: cover;
  }
  .input-wrapper,
  .weather-card {
    position: static;
  }
  .input-wrapper {
    margin-bottom: 20px;
  }
  .date-block {
    position: absolute;
    width: 250px;
    bottom: 0;
    left: calc(50% - 125px);
    background-color: transparent;
  }
  .clock {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 10px;
    width: 180px;
    background-color: transparent;
    height: 100px;
  }
  .input-wrapper {
    background-color: transparent;
  }
  .city {
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
  }
  .temperature {
    text-align: center;
    font-size: 42px;
    margin-bottom: 30px;
  }
  .weather-card {
    padding: 20px;
    width: 250px;
  }
}/*# sourceMappingURL=style.css.map */