@media (max-width: 500px) {

  .container {
    display: flex;
    flex-direction: column;
    height: 100svh;
    align-items: center;
    padding-top: 80px;
    background-position:  -870px ;
    background-size: cover;
    

  }

  .input-wrapper,
  .weather-card {
    position: static;
  }

  .input-wrapper {
    margin-bottom: 20px;
  }

  .date-block {
    position: absolute;
    width: 250px;
    bottom: 0;
    left: calc(50% - 125px);
    background-color: transparent;
    
  }

  .clock {
    position: absolute;
    top: 0;
    right: 10px;
    
    padding: 10px;
    width: 180px;
    background-color: transparent;
    height: 100px;

  }
  

  .input-wrapper {
    background-color: transparent;
  }

  .city {
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
  }

  .temperature {
    text-align: center;
    font-size: 42px;
    margin-bottom: 30px;
  }

  .weather-card  {
    padding: 20px;
    width: 250px;
    
  }


}