@import 'reset';



.container {
  height: 100vh;
  position: relative;
  background-image: url(../images/evening.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.6s linear;
}


.input {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid greenyellow;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  &::placeholder {
    color: #000;
  }

}


.input-wrapper {
  position: absolute;
  top: 50px;
  right: 75px;
  padding: 20px 20px 20px 20px;
  background-color: #ccc;
  border-radius: 20px;
  background-color: #00000044;

}

.weather-card {
  position: absolute;
  top: 80px;
  left: 75px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  border: 2px solid rgba(172, 255, 47, 0.419);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 50px;
  border-radius: 10px;

}

.clock {
  background-color: #0fb3e932;
  color: antiquewhite;
  font-size: 42px;
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  bottom: 30px;
  border-radius: 20px;
  right: 75px;
  font-family: 'Tilt Prism', cursive;
}

.date-block {
  background-color: #0fb3e932;
  color: antiquewhite;
  font-size: 42px;
  width: 250px;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  bottom: 30px;
  border-radius: 20px;
  left: 75px;
  font-family: 'Tilt Prism', cursive;
}


.city {
  margin-bottom: 20px;
  letter-spacing: 1px
  
}

.temperature {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.rain {
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
  
}


@import 'adapted';